# Variables

In [1]:
caja = 28

In [3]:
print(caja)

28

In [5]:
# Otro ejemplo
variable = "Mi primera variable"
print(variable)

Mi primera variable

# Tipos de datos

In [6]:
entero = 45
print(entero)

45

In [7]:
type(entero)

int

In [8]:
caracteres = "Hola, mundo"
print(caracteres)

Hola, mundo

In [9]:
type(caracteres)

str

In [10]:
flotante = 4.5
print(flotante)

4.5

In [11]:
type(flotante)

float

In [12]:
booleano = True
print(booleano)

True

In [13]:
type(booleano)

bool

In [14]:
complejo = 4 + 5j
print(complejo)

(4+5j)

In [15]:
type(complejo)

complex

# Operaciones entre variables

In [16]:
a = 4
b = 5
a + b

9

In [17]:
b - a

1

In [18]:
b * a

20

In [19]:
17 / 5

3.4

In [20]:
17 // 5 #division de enteros

3

In [21]:
 17 % 5 #residuo

2

In [22]:
4 ** 2 #potenciacion

16

# Operaciones de asignación

In [23]:
mi_edad = 28 
print(mi_edad)

28

In [24]:
mi_edad = "28 años"
print(mi_edad)

28 años

In [25]:
mi_edad = 28
mi_edad = mi_edad + 1
print(mi_edad)

29

In [26]:
mi_edad = 28
mi_edad += 1
print(mi_edad)

29

In [27]:
años_jubilacion = 35
años_jubilacion -= 1
print(años_jubilacion)

34

# Operaciones relacionales

In [28]:
20 == 19

False

In [29]:
20 != 19

True

In [30]:
20 > 19

True

In [31]:
20 <= 19

False

In [33]:
"Estoy " + "feliz de aprender " + "pyton"

'Estoy feliz de aprender pyton'

In [34]:
"ja ja " * 3

'ja ja ja ja ja ja '

In [35]:
a = True
b = 5
print(a)
print(b)

True
5

# Conversión de tipo de datos

In [36]:
a = "5"
print(a)

5

In [37]:
type(a)

str

In [38]:
a = int(a)

In [39]:
type(a)

int

In [40]:
nombre = "Sebastian Castelblanco"
int(nombre)

ValueError: invalid literal for int() with base 10: 'Sebastian Castelblanco'

In [41]:
b = "5.6"
print(type(b))
b=float(b)
print(type(b))

<class 'str'>
<class 'float'>

In [42]:
str(5.4)

'5.4'